<!-- Container for the main post -->
<div class="post container border border-slate-950" id="current-post" data-post-id= {{post.id}} >
    <div class="content">
        <!-- Row for post title and post creator details -->
        <div class="row bg-slate-700">
            <!-- Column for post title -->
            <div class="col">
                <h2 class="post-title text-light"> 
                    {{post.post_title}}
                </h2>  
            </div>
            <!-- Column for post creator details -->
            <div class="col post-creator d-flex justify-content-end">
                <p>Authored by {{post.user.username}} on {{format_date post.date_created}} </p>
            </div>
        </div>
        <!-- Display the content of the post -->
        <div>
            <p>
                {{post.post_content}}
            </p>
        </div>
    </div>
</div>

<!-- Loop through each comment to display its content -->
{{#each comments as |comment|}}
    <div class="container Sborder-primmary border-2 my-4">
        <div class="content">
            <!-- Row for comment author and comment date -->
            <div class="row bg-slate-950">
                <!-- Column for comment author -->
                <div class="col">
                    <h4 class="text-slate-950">
                        {{comment.user.username}}
                    </h4>
                </div>
                <!-- Column for comment date -->
                <div class="col text-slate-950 d-flex justify-content-end">
                    <p style="font-size: 13px;"> {{format_date comment.date_create}} </p>
                </div>
            </div>
            <!-- Display the content of the comment -->
            <div>
                <p> {{comment.content}} </p>
            </div>
        </div>
    </div>
{{/each}}

<!-- Display "New Comment" button if the user is logged in -->
{{#if logged_in}}
<div class="container d-flex justify-content-center my-3">
    <div class=""> 
        <button type="button" id="new-comment">+ Add Comment</button>
    </div>
</div>
{{/if}}

<!-- Hidden container for the new comment form -->
<div id="hidden-div" style="display: none">
    <div id="comment-form" class="form container border border-neutral-800 border-3 my-3">
        <div class="row ">
            <div class="bg-slate-950"><h2>j</h2></div>
            <!-- Form for adding a new comment -->
            <form action="new-comment" id="new-comment-form">
            <label for="comment">Your Thoughts</label>
            <div class="mb-2">
                <textarea id="content" class="form-control" rows="3"></textarea>
            </div>
            <!-- Submit button for the form -->
            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-slate-950">Post</button>
            </div>
        </form>
        </div>
    </div>
</div>

<!-- Script for handling new comment functionalities -->
<script src="/js/newCom.js"></script>
